@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geist Mono", monospace;
}

.containery {
  font-family: "Bodoni Moda SC", serif;
}

:root {
  --base--100: #fff;
  --base--200: #2a2a2a;
  --base--300: #1f1f1f;
  --base--400: #0f0f0f;
  --base--500: #fb4016;
}

.slider {
  perspective: 250px;
  perspective-origin: 50% 100%;
}
